.container {
  width: 100%;
  height: 100vh;
  position: relative;
}
.registration___container {
  display: flex;
  width: 100%;
  height: 100%;
}

/* * Style POPUP  */
.pop-up {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  z-index: 10;
  background-color: rgba(0, 0, 0, 0.37);
}
.pop-up___body {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up___body--text {
  padding: 2rem 3rem;
  border-radius: 25px;
  width: fit-content;
  height: fit-content;
  background-color: var(--bgColor);
}
.pop-up___body--text > h1 {
  margin-top: 0.3rem;
  color: var(--primaryColor);
  margin-bottom: 1rem;
}

.pop-up___body--text > p {
  margin-bottom: 0.5rem;
}

/* * Style RegistrationDetailContainer */
.detail {
  width: 40%;
  background-image: url("../../asset/backgroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.detai___container,
.joinus___container,
.form___container,
.thanks___container {
  width: 100%;
  height: 100%;
  background-color: #1566d8d0;
}
.joinus___container,
.form___container,
.thanks___container {
  background-color: var(--bgColor) !important;
}
.detail___info {
  width: 100%;
  height: 100%;
  padding: 2rem 3rem;
  position: relative;
}

.detail___info--logo {
  width: 100px;
  height: auto;
}

.detail___info--body,
.joinus___container--body,
.form___container--body,
.thanks___container--body {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.detail___info--bodytext {
  width: 70%;
  height: fit-content;
  position: relative;
}

.detail___info--bodytext img {
  width: 80px;
  height: auto;
}

.detail___info--bodytext img:last-child {
  width: 50px;
  position: absolute;
  right: -5px;
}

.detail___info--bodytext p {
  line-height: 2;
}

.detail___info--bodytext p,
.detail___info--bodytext h4 {
  color: var(--bgColor);
  margin-bottom: 2rem;
}

.detail___info--bodytext h4,
.form___container--body h6,
.form___container--footer h6 {
  display: flex;
  align-items: center;
}

.form____container {
  flex: 1;
  height: 100%;
}

/* * Style RegistrationJoinUsContainer */
.joinus___container--body {
  height: 90%;
}

/* * Style RegistrationFromContainer */
.form___container--body {
  height: 90%;
}

/* .passwordInput > input {
  border: none;
} */

.form___container--body h6 input {
  margin-right: 0.5rem;
}
.form___container--divider {
  margin: 1.5rem 0;
  width: 426px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form___container--divider hr {
  opacity: 10%;
  width: 100%;
  background-color: var(--textColor);
}

.form___container--divider h6 {
  margin: 0 1rem;
}

/* * Style RegistrationFromCompleteContainer */
.form___container--phonenumber {
  padding: 1rem;
  margin: 0.8rem 0rem;
  border-radius: 5px;
  border: 1px solid var(--textColor);
  width: 426px;
}

.PhoneInputInput {
  border: none;
}

.PhoneInputInput:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.PhoneInputCountr {
  margin-right: 2rem;
}

.form___container--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* * Style BusinessRegistration */
.form___container {
  position: relative;
}

.form___container--popUp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form___container--popUp___data {
  padding: 1rem;
  background-color: var(--bgColor);
}

/* * Style ThanksWelcomeContainer */
.thanks___container--body {
  height: 90%;
}

.thanks___container--body___text {
  width: 60%;
}
